body {
  background: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.72;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .title {
    font-size: 28px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.logo-span {
  color: #2196f3;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
}

.border.header {
  border-bottom: 1px solid #eeeeee;
}

.nav-menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    min-height: 60px;
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.wrapper-menu {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .wrapper-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 30px;
    display: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .wrapper-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .wrapper-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 93px;
  }
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link:hover, .site-link:focus {
  color: #2196f3;
}

.site-link.current {
  position: relative;
  color: #2196f3;
}

.site-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-link {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .site-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    flex-direction: column;
    align-items: center;
  }
  .auth-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
    align-items: center;
  }
  .auth-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-link:hover, .auth-link:focus {
  color: #2196f3;
}

.auth-link .icon-auth {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .auth-link {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .button {
  display: inline-block;
  padding: 10px 32px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .hero {
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile.jpg);
  }
}

@media screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tablet.jpg);
  }
}

@media screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desctop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desctop@2x.jpg);
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199px) {
  .method {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .method {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.method-items {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .method-items .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .method-items {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .method-items .item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .method-items {
    margin: 0;
  }
  .method-items .item {
    width: 270px;
    margin: 0%;
  }
  .method-items .item:not(:last-child) {
    margin-right: 30px;
  }
}

.method-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.method-subtitle {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .method-subtitle {
    text-align: center;
  }
}

.method-desc {
  margin: 0;
}

.works {
  padding-bottom: 94px;
}

.works .title {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}

.works-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.works-items .item:not(:last-child) {
  margin-right: 30px;
}

.work-thumb {
  position: relative;
}

.work-subtitle {
  margin: 0;
  padding: 27px 82px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.work-info {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .team .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-items {
  margin: 0;
  padding: 0;
}

.team-items > .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-items > .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-items {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-items .item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-items {
    flex-wrap: nowrap;
    margin: 0;
  }
  .team-items .item {
    margin: 0;
  }
  .team-items .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-img {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .team-img {
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .team-img {
    width: 450px;
  }
}

.item-about {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .item-about {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-about {
    padding: 30px 30px 30px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .item-about {
    padding: 30px 32px;
  }
}

.team-subtitle {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-desc {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.item-cocial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-cocial:hover, .item-cocial:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-social {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .regular-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .regular-clients .title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients .title {
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
    margin: -15px;
  }
  .clients .item {
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) and (max-width: 767px) {
  .clients .item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .clients .item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .item {
    width: 170px;
  }
  .clients .item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.icon-client {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

@media screen and (max-width: 767px) {
  .infobox {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .infobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .infobox .wrapper:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .infobox {
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
  .infobox .wrapper:not(:last-child) {
    margin-bottom: 0;
  }
}

.address {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.footer-desc {
  margin: 0;
  margin-bottom: 9px;
}

.footer-add {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
}

.socials .item:not(:last-child) {
  margin-right: 10px;
}

.socials .item-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials .item-social:hover, .socials .item-social:focus {
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .socials {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.common {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .common {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .common {
    text-align: start;
  }
}

.mailing .button {
  display: inline-flex;
  padding: 10px 28px;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mailing {
    max-width: 450px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: flex;
    max-width: 100%;
    text-align: start;
  }
}

.email {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

.email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .email {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .email {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .email {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.form-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px 0 15px;
  }
}

.modal {
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
}

@media screen and (min-width: 481px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px;
  }
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #000000;
}

.btn-modal {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .btn-modal {
    top: 101px;
    right: 23px;
  }
}

@media screen and (min-width: 481px) {
  .btn-modal {
    top: 8px;
    right: 8px;
  }
}

.btn-modal:hover, .btn-modal:focus {
  fill: #2196f3;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-subtitle {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-info {
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-info {
  outline: none;
  border-color: #2196f3;
}

.form-info::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.message {
  padding: 11px 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .message {
  outline: none;
  border-color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.license-wrapper {
  position: relative;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .license-wrapper {
    display: flex;
    align-items: center;
  }
}

.license-text::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .license-text::before {
    top: 3px;
    left: 13px;
  }
}

@media screen and (max-width: 1199px) {
  .license-text {
    margin-left: 24px;
    font-size: 12px;
    line-height: 1.17;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .license-text {
    margin-left: 36px;
    font-size: 14px;
  }
}

.checkbox:checked + .license-text::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/chek.svg);
  background-size: contain;
  background-origin: border-box;
}

.license-link {
  color: #2196f3;
}

.form-btn {
  display: inline-block;
  width: 200px;
  margin: auto;
  padding: 10px 55px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.button-items .btn {
  padding: 6px 22px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-width: inherit;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-items .btn:hover, .button-items .btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .button-items {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
  .button-items .item {
    margin: 4px;
  }
}

@media screen and (min-width: 768px) {
  .button-items {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) {
  .button-items .item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .button-items {
    margin-bottom: 50px;
  }
}

.galery-items {
  margin: 0;
  padding: 0;
}

.galery-items .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .galery-items .item {
    max-width: 450px;
  }
  .galery-items .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galery-items .item {
    margin: 0 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
  .galery-items .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .galery-items .item {
    width: 370px;
  }
  .galery-items .item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galery-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

@media screen and (min-width: 768px) {
  .galery-items {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .galery-items {
    justify-content: center;
  }
}

.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-thumb {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 63px 24px;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-items .card:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .card-img {
    width: 370px;
  }
}

@media screen and (max-width: 1199px) {
  .card-img {
    width: 354px;
  }
}

@media screen and (max-width: 767px) {
  .card-img {
    width: 450px;
  }
}

.galery-names {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.galery-title {
  margin: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.galery-desc {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */