.team {
  background: $accentBgColor;

  .title {
    @media screen and (max-width: $max-tablet) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desctop) {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: $max-tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-items {
  margin: 0;
  padding: 0;

  > .item {
    background: $whiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  @media screen and (max-width: $max-mobile) {
    > .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    .item {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
  }

  @media screen and (min-width: $desctop) {
    flex-wrap: nowrap;
    margin: 0;

    .item {
      margin: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.team-img {
  @media screen and (min-width: $desctop) {
    width: 270px;
  }

  @media screen and (max-width: $max-tablet) {
    width: 354px;
  }

  @media screen and (max-width: $max-mobile) {
    width: 450px;
  }
}

.item-about {
  text-align: center;

  @media screen and (max-width: $max-mobile) {
    padding: 30px;
  }

  @media screen and (min-width: $tablet) {
    padding: 30px 30px 30px 24px;
  }

  @media screen and (min-width: $desctop) {
    padding: 30px 32px;
  }
}

.team-subtitle {
  margin: 0;
  margin-bottom: 10px;

  color: $titleTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-desc {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.item-cocial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: $itemSocialColor;
  background-color: transparent;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
  }
}

.icon-social {
  fill: currentColor;
}
