// Colors

$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$generalBg: #2f303a;
$accentBgColor: #f5f4fa;
$whiteColor: #ffffff;
$blackColor: #000000;
$borderColor: #eeeeee;
$itemSocialColor: #afb1b8;

// Fonts

$primaryFont: 'Roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;

