// Standard settings

body {
  background: $whiteColor;
  color: $primaryTextColor;

  font-family: $primaryFont;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.72;

  &.modal-open {
    overflow: hidden;
  }

  @media screen and (max-width: $max-mobile) {
    padding-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;

  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: $max-tablet) {
    font-size: 28px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desctop) {
    width: $desctop;
  }
}
